{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"trailingComma": "none",
	"bracketSpacing": true,
	"quoteProps": "consistent",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["clsx"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
